body {
    padding: 20px;
    background-color: blanchedalmond;
}

.inp__app {
    display: flex;
    flex-direction: column;
}

form {
    margin-bottom: 20px;
}

.inp__input {
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

.inp__input:focus {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.inp__select-type {
    border: none;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

.inp__select-task {
    width: 5.5rem;
    font-family: inherit;
    font-size: 13px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}
  
.inp__button {
    display: inline-block;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
.inp__solved {
    width: 38px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow-wrap: initial;
}

.inp__button:hover {
    background-color: #0D47A1;
}

ul {
    list-style-type: none;
    padding-right: 2.5rem;
}

.inp__group-tasks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
}

.inp__task-job {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #bce6fa;
    border-color: #40db64;
    width: 30rem;
    overflow-wrap: anywhere;
    cursor: grab;
}

.inp__task-private {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #bfffce;
    border-color: #40db64;
    width: 30rem;
    overflow-wrap: anywhere;
    cursor: grab;
}

.inp__task:active {
    cursor: grabbing;
}

.inp__option-high {
    color: #c82333;
}

.inp__option-medium {
    color: #e4d94a;
}

.inp__option-low {
    color: #28a745;
}

.inp__li {
    flex-grow: 1;
    padding: 10px;
}

.inp__delete {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow-wrap: initial;
}
  
.inp__delete:hover {
background-color: #c82333;
}
  


@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
  


  